@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
/* @import url('https://fonts.googleapis.com/css?family=Roboto:300'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding:0px;
}



header {
    text-align: center;
    background-image: url("/img/huntington.png");
    margin: 0px;
    padding: 5.5vw;
    
 }
 

 h1 {
    font-family: Roboto;
    font-weight: 300;
    color: #ffffff;
    font-size: 4.5vw;
    text-shadow: 1px 4px 2px #181818;
    text-transform: uppercase;
    margin: 2vh;
    padding: 4vh;
}

h2 {
    background: url(../img/zen.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-family:Satisfy;
    font-style: italic;
    color: #ffffff;
    font-size: 2.6vh;
    margin: 0px;
    padding-bottom: 2vh;
}

h3 {
    font-family: Roboto;
    font-weight: normal;
    color:#1d1d1d;
    font-size: 2.4vh;
}

p {
    font-family:IBM Plex Mono;
    font-size: 1.8vh;
    color:#4b4949;
}

p a {
    text-decoration: none;
    color: #234C4B;
}

.explanation,.summary, .preamble {
    margin: 0px; 
    padding:2vh 6vw; 
    background-color: #f5f4f4;

}
#zen-summary a:hover{
    text-decoration: underline;
    }
.explanation p,.summary p, .preamble p, .requirements p {
    margin: 0px;
    padding: 1vh 0vh;
}


.participation, .benefits {
    background-image: url("/img/bamboo.png");
    background-color: #769D7A;
    margin: 0px; 
    padding:2vh 6vw;
} 


.participation p, .benefits p {
    color:#f5f4f4
}

.requirements p, .requirements h3{
    margin: 0px; 
    padding:2vh 6vw;
}

p[role=contentinfo]{
    background-color: #769D7A; 
    padding: 5.5vh 6vw;
    font-family: Roboto;
    font-weight: normal;
    font-size:2.2vh;
    color: #777777;
    text-align: center;
    
}

p[role=contentinfo] a{
    font-family: Satisfy;
    color:#f5f4f4;
    font-size:26px;
}

p[role=contentinfo] a:hover{
    text-decoration: underline;
    }

footer {
    background-color: #234C4B;
    text-align: center;
   }
 i {
     color: #ffffff;
     padding:2.5vh;
 }

 i:hover{
     color: darkgray;
 }
 .sidebar h3{
    display: none;
}

.design-selection{
    font-family:Roboto;
    font-weight: bold;
    font-size: 1.8vh;
    background-color:#D6E3D6;
    columns:2 auto;
    column-gap: 0px;
    text-align: center;
 } 
 
.design-selection ul {
list-style: none;
}
.design-selection li{
    padding:20px;
    border-bottom: 1px solid #bdbbbb; 
}

 .design-selection li:nth-child(odd){
    order: 2;
} 
.design-name{
    
    font-size: 2.2vh;
    font-weight: normal;
    color:#1d1d1d;
    text-decoration: none;

}
.designer-name{
    font-family:IBM Plex Mono;
    font-size: 1.8vh;
    color:#777777;
    text-decoration: none;
}
 .design-archives{
    background-color:#D6E3D6;
    padding: 20px;
    columns:2 auto;
    text-align: center;

}
.design-archives ul{
    list-style: none;
}
 .design-archives a{
    font-family:IBM Plex Mono;
    font-size: 1.8vh;
    color:#777777;
    text-decoration: none;
 }
 .zen-resources{
    background-image: url("/img/bamboo.png");
    background-color: #769D7A;
    padding: 10px 20px;
    columns:2 auto;
    text-align: center;
 }
 .zen-resources a{
    font-family:IBM Plex Mono;
    font-size: 1.8vh;
    color:#234C4B;
    text-decoration: none;
 }
.zen-resources ul{
    list-style: none;
}
 
